# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class
dist/

# Environments
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/
.tox/

# Output files
*.png

**/.DS_Store

# IDE config
.idea/
